.App {
    display: flex;
    justify-content: center;
}

.mainBlock {
    border: 1px solid black;
    padding: 10px;
    height: 300px;
    width: 300px;
    overflow-y: scroll;
}

.input {
    width: 232px;
}

.newMessage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.textArea {
    width: 270px;
}

.sendButton {
    height: 36px;
}